/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

 }
 
 /* variable */
 :root{
 --primary : #EB651C;
 --secondary : #E5DBD0;
  --tretinary : #41392E;
 --main :#171614;
 --button : #EB651C;
 font-size: 1.2em;
 }
 