/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;

 }
 
 /* variable */


:root{

   --primary : #EB651C;
   --secondary : #E5DBD0;
   --tretinary : #41392E;
   --main :#171614;
   --button : #EB651C;


 }
/* <----------------------------------------------------------------------> */    
                             /* small-screen */


/* basic style */
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');

body {

   font-family: 'Amiri', serif;

   /* placement des éléments sur la page */

   display: grid;
   align-items: flex-start;
   grid-template-columns: 1fr 1fr 1fr;
   grid-auto-rows: min-content;
   grid-template-areas: 
   "header header header"
   "main main main"
   "main main main"
   "main main main"



   ;
}



h2 {
   
   text-decoration: underline;
}

h2, h1, h3 {
   padding: 10%;
   font-weight: bolder;
}
h3, p, h1, h2 {

   text-align: center;

}

p {
   font-weight: 400;
   font-size: 1.3em;
}
/* <----------------------------------------------------------------------> */

/* header */

header {
      
   background-color: var(--secondary) ;
   /* placement sur la grille */
   grid-area: header;

}

/* logo */

   .navBar__logo > img {

      height: 15vh;

   }
   

   /* container flex navigation */
.navBar {
            
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
      
   
      

}

   /* style des liens */

.navBar__links , .navBar__link a {

   list-style-type: none;
      font-weight:bolder ;
      color: var(--main);
      text-decoration: none;
      line-height: -10%;
   
}
  
   /* style des liens */
    
a:hover {
   color:var(--primary);
      text-decoration:underline;
      
}
/* <----------------------------------------------------------------------> */

/* main-style*/

main {

   /* placement du main sur grid */
   grid-area: main;

             /* fond d'écrant */
   background-image: url(photo/théme-small-screen.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

/* <----------------------------------------------------------------------> */

   /* présentations */

         /* container flex présention */
.présentation {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;

}

.intro__paragraph__first{
   padding-bottom: 10%;
}


/* <----------------------------------------------------------------------> */

/* Nos missions */

.missions {

   /* container flex */
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding-bottom: 10%;
   
}

.mission__link {

   display: flex;
   flex-direction: row;

}

.missions , .mission__link a {

   list-style-type: none;
      font-weight:bolder ;
      color: var(--main);
      text-decoration: none;
} 
/* <----------------------------------------------------------------------> */
/* help-compagnion */

/* container flex */
.helps {

   display: flex;
   justify-content: space-around;
   list-style-type: none;

   }
   
.help {

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}

.img__help {
   height: 70px;
   

}






/* <----------------------------------------------------------------------> */        
                     /* screen 768px */


@media screen and (min-width : 768px ) { 

.navBar__link{

   display: inline-flex;
   padding: 10px;

}

}
/* <----------------------------------------------------------------------> */